h2{
    color: #ffffff;
    padding-top: 2rem;
    padding-left: 2rem;
  }
  .blockquote1{
    color: #fff;
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding: 0% !important;
    font-size: 1.125rem !important;
  }
  .tam_imag{
    width: 9rem;
  }
  .text-end{
    padding-right: 0rem !important;
  }
  .blockquote{
    font-family: "emoji" !important;
    margin-top: 3% !important;
    padding-right: 2rem;
  }
  .blockquote-footer{
    font-family: cursive !important;
  }

  .col-4.pos_izq{
    padding-left: 4% !important;
  }
