<section>
  <div id="educacion" class="about1">
    <div class="container-fluid border rounded-3">
      <h2>Educacion</h2>
        <br>
        <div *ngFor="let educa of mieducacion" class="row mt-4">
            <div class="col-4 pos_izq mt-1 blockquote1">
                <div>
                    <img [src]="educa.logo" class="tam_imag" alt="..." title="Logo Argentina Programa">
                   <!--<img src="{{ educa.logoinstitucion }}" class="tam_imag" alt="..." title="Logo Argentina Programa">-->
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-7 col-md-6" >
                <figure class="mt-4 text-end">
                    <blockquote class="blockquote blockquote1">
                        <h3>{{ educa.universidad }}</h3>
                        <h4>{{ educa.institucion }}</h4>
                        <h5>{{ educa.titulo }}</h5>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <cite title="Source Title">{{ educa.estado }}</cite>
                    </figcaption>
                </figure>
            </div>
            <hr class="ps-5 w-75">
        </div>
        <br>
      </div>
  </div>



<!--
  <div id="educacion" class="about1">
    <div *ngFor="let educa of mieducacion" class="row mt-3">
      <div class="col-sm-12 col-md-8 justify-content-end">

      <div class="col-4 pos_izq ps-4 pt-5">

          <div>
              <img src="{{ educa.logo }}" class="tam_imag" alt="..." title="Logo Argentina Programa">
          </div>
          <p></p>
      </div>


      <div class="col-sm-12 col-md-8 justify-content-end" >

          <figure class="mt-4 text-end">
              <blockquote class="blockquote">
                  <h2>{{ educa.universidad }}</h2>
                  <h4>{{ educa.institucion }}</h4>
                  <h5>{{ educa. titulo }}</h5>

              </blockquote>
              <figcaption class="blockquote-footer">
                  <cite class="figcap" title="Source Title">{{ educa.estado }}</cite>
              </figcaption>
          </figure>


      </div>

      <hr class="ps-5 w-75">
    </div>

      <div class="container-fluid border rounded-3">
        <h2>{{ mieducacions }}</h2>
          <br>
          <div *ngFor="let educa of mieducacion" class="row mt-4">
              <div class="col-4 pos_izq mt-1 blockquote1">
                  <div>
                      <img [src]="educa.logoinstitucion" class="tam_imag" alt="..." title="Logo Argentina Programa">
                    <img src="{{ educa.logoinstitucion }}" class="tam_imag" alt="..." title="Logo Argentina Programa">
                  </div>
              </div>
              <div class="col-1">
              </div>
              <div class="col-7 col-md-6" >
                  <figure class="mt-4 text-end">
                      <blockquote class="blockquote blockquote1">
                          <h3>{{ educa.universidad }}</h3>
                          <h4>{{ educa.institucion }}</h4>
                          <h5>{{ educa.titulo }}</h5>
                      </blockquote>
                      <figcaption class="blockquote-footer">
                          <cite title="Source Title">{{ educa.estado }}</cite>
                      </figcaption>
                  </figure>
              </div>
              <hr class="ps-5 w-75">
          </div>
          <br>
        </div>-->

</section>
