<div class="row justify-content-center mt-3">
    <div class="col-auto text-center">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <!--<a href="#" title=".">-->
                    <i class="fa-sharp fa-solid fa-plus fa-2xl align-items-end pt-3 px-0" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal200"></i>

                <!--</a>-->
            </li>
           <!-- <li class="list-group-item">

                    <i class="fa-sharp fa-solid fa-trash fa-2xl align-items-end pt-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal9"></i>

            </li>
            <li class="list-group-item">

                    <i class="fa-sharp fa-solid fa-plus fa-2xl align-items-end pt-3 px-0" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal200"></i>

            </li>-->
        </ul>
    </div>
  </div>
  <!--<app-modaldashedicionlab></app-modaldashedicionlab>
  <app-modaldashborrarlab></app-modaldashborrarlab>-->
  <app-modaldashmaslab></app-modaldashmaslab>

