<!-- Modal -->
<div class="modal fade" id="exampleModal200" tabindex="-1" aria-labelledby="exampleModalLabel200" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-dark fs-5" id="staticBackdropLabel200">Agregue Nueva Experiencia Laboral</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()">X</button>
      </div>
    <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="experiencialaboralForm">
      <div class="modal-body letra">
          <div class="">
            <input type="text" formControlName="logoempresa" class="form-control border mb-2" id="logoempresa" placeholder="Logoempresa" [(ngModel)]="logoempresa" [ngClass]="{'is-invalid': Logoempresa?.errors && Logoempresa?.touched, 'is-valid': !Logoempresa?.errors && Logoempresa?.touched}" >
            <label for="logoempresa" class="form-label">Logo Empresa</label>
            <p class="help-block py-3"></p>
            <div *ngIf="Logoempresa?.errors && Logoempresa?.touched">
              <p *ngIf="Logoempresa?.hasError('required')" class="text-danger">
                El logo de la empresa es requerido
              </p>
            </div>
          </div>
          <div class="form-floating">
            <input type="text" formControlName="empresa"class="form-control border mb-2" id="laboralEmpresa" placeholder="Empresa" [(ngModel)]="empresa" [ngClass]="{'is-invalid': Empresa?.errors && Empresa?.touched, 'is-valid': !Empresa?.errors && Empresa?.touched}">
            <label for="laboralEmpresa" class="form-label">Empresa</label>
            <div *ngIf="Empresa?.errors && Empresa?.touched">
              <p *ngIf="Empresa?.hasError('required')" class="text-danger">
                La empresa es requerida
              </p>
            </div>

          </div>
          <div class="form-floating">
            <input type="text" formControlName="cargo" class="form-control border mb-2" id="floatingPassword22" placeholder="Puesto" [(ngModel)]="cargo" [ngClass]="{'is-invalid': Cargo?.errors && Cargo?.touched, 'is-valid': !Cargo?.errors && Cargo?.touched}">
            <label for="floatingPassword22" class="form-label">Cargo</label>
            <div *ngIf="Cargo?.errors && Cargo?.touched">
              <p *ngIf="Cargo?.hasError('required')" class="text-danger">
                La Cargo es requerida
              </p>
            </div>

          </div>
          <div class="form-floating">
            <input type="text" formControlName="inicio" class="form-control border mb-2" id="floatingPassword222" placeholder="Año de Inicio" [(ngModel)]="inicio" [ngClass]="{'is-invalid': Inicio?.errors && Inicio?.touched, 'is-valid': !Inicio?.errors && Inicio?.touched}">
            <label for="floatingPassword222" class="form-label">Año de Inicio</label>
            <div *ngIf="Inicio?.errors && Inicio?.touched">
              <p *ngIf="Inicio?.hasError('required')" class="text-danger">
                La Inicio es requerida
              </p>
            </div>

          </div>
          <div class="form-floating">
            <input type="text" formControlName="finalizacion" class="form-control border mb-2" id="floatingPassword2222" placeholder="Año de Finalización" [(ngModel)]="finalizacion" [ngClass]="{'is-invalid': Finalizacion?.errors && Finalizacion?.touched, 'is-valid': !Finalizacion?.errors && Finalizacion?.touched}">
            <label for="floatingPassword2222" class="form-label">Año de Finalización</label>
            <div *ngIf="Finalizacion?.errors && Finalizacion?.touched">
              <p *ngIf="Finalizacion?.hasError('required')" class="text-danger">
                La Finalizacion es requerida
              </p>
            </div>

          </div>

          <div class="mb-3">
            <textarea formControlName="tareas" class="form-control border mb-2" id="exampleFormControlTextarea12" rows="3" placeholder="Tareas Desempeñadas" [(ngModel)]="tareas" [ngClass]="{'is-invalid': Tareas?.errors && Tareas?.touched, 'is-valid': !Tareas?.errors && Tareas?.touched}">
              <label for="exampleFormControlTextarea1" class="form-label"></label>
              <div *ngIf="Tareas?.errors && Tareas?.touched">
                <p *ngIf="Tareas?.hasError('required')" class="text-danger">
                  La Tareas es requerida
                </p>
              </div>
            </textarea>
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiar()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>
