    <!-- footer start -->
    <footer>
      <div class="card-group">
          <div class="card text-center wsp">

            <a href="https://api.whatsapp.com/send?phone=5491123198095" class="btn-wsp" title="&" rel="noopener" target="_blank">
              <!--<a onclick="location.href='http://api.whatsapp.com/send?phone=5491123198095'" class="btn-wsp" title="&" rel="noopener" target="_blank">-->

              <!--<a [routerLink] ="['https://clarin.com']" class="btn-wsp" title="&" rel="noopener" target="_blank">-->
              <!--<a [routerLink] ="{{ enlace }}" class="btn-wsp" title="&" rel="noopener" target="_blank">-->
              <!--<a routerLink ="{{ enlace }}" class="btn-wsp" title="&" rel="noopener" target="_blank">-->
              <!--<a routerLink="['https://api.whatsapp.com/send?phone=5491123198095']" class="btn-wsp" title="&" rel="noopener" target="_blank">-->
              <i class="fa-brands fa-whatsapp fa-2xl"></i>
            </a>
          </div>
          <div class="card footer-bottom px-5">
              <p>© 2022 Portfolio Personal.<br>Derecho reservado Nestor Carretino</p>
          </div>
          <div class="card text-center wsp sobre">
            <ul class="list-group">
              <li class="list-group-item">
                <i class="fa-regular fa-envelope fa-2xl pt-4 sobre" type="button" data-toggle="modal" data-target="#exampleModal55"></i>
              </li>
            </ul>
          </div>
        </div>
    </footer>
  <!-- footer end -->
<!-- Button trigger modal -->
<app-modalfooter></app-modalfooter>
