h2{
  color: #ffffff;
  padding-top: 2rem;
  padding-left: 2rem;
}
.about{
  border-color: #acc3d3 !important;
  /*margin-left: 0.3%;
  margin-right: 0.3% !important;*/
  color: #fff !important;
}
/*Progress bar*/
.progress-bar.barco1{
  background-color: #62ec5e !important;
  width: 75%;
}
.progress-bar.barco2{
 background-color: #aa5a0e!important;
 width: 50%;
}
.progress-bar.barco3{
 background-color: #81151e !important;
 width: 55%;
}
.progress-bar.barco4{
 background-color: #0c0a69 !important;
 width: 45%;
}
.progress-bar.barco5{
 background-color: #46bbb1!important;
 width: 70%;
}
.progress-bar.barco6a{
  background-color: #f30707!important;
  width: 60%;
}
.progress-bar.barco6b{
  background-color: #f30707!important;
  width: 30%;
}
.progress-bar.barco7{
  width: 60%;
}
.progress{
  --bs-progress-height: 1.9rem !important;
}
.row.progre{
  /*display: block !important;*/
  margin-top: 1%;
}

.row.progres{
  margin-top: 1%;
}
