.bod{
  margin: 0px !important;
  background: #0e0e0e;
  height: 100% !important;
  color: #fff;
}

.tip{
  display: block;
  position: relative;
  margin: auto;
  cursor: zoom-in;
  color: #fff !important;
  padding: center;
  width: 30rem !important;
  height: 30rem;
}
.arriba2{
  /*display: block;*/
  position: absolute;
  margin-top: -10rem;
  width: 100%;
}


