<div class="bod">
  <div class="contend-fluid">
    <p class="text-center pt-4 fs-4">
      {{ npagina }}
    </p>
    <img src="{{ imageerror }}"  class="tip text-center" title="errors">
    <div class="text-center arriba2 fs-5" >
      <p>
        {{ disculpa }}
      </p>
      <p class="pt-2">
        {{ noencontrada }}
      </p>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end pb-4 pe-4">
      <a href="index" class="btn btn-success text-right" tabindex="-1" role="button" aria-disabled="true">Ir a la página de Inicio</a>
    </div>
  </div>
</div>
