<div class="row justify-content-center mt-3">
    <div class="col-auto text-center">
        <ul class="list-group list-group-horizontal mb-3">
           
            <li class="list-group-item">
            
                    <i class="fa-sharp fa-solid fa-plus fa-2xl align-items-end pt-3 px-0" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal400"></i>
            
            </li>
        </ul>
    </div>
  </div>
 <!--<app-modaldashedicionhab></app-modaldashedicionhab>
  <app-modaldashborrarhab></app-modaldashborrarhab>-->
  <app-modaldashmashabil></app-modaldashmashabil>

