<header>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar">
              <img src="{{ logoarg }}" alt="Logo de Argentina Programa" class="logo">
              <!--<img src="assets/image/APLogo-20-20.png" alt="Logo de Argentina Programa" class="logo">-->
            </a>

            <app-redesdash></app-redesdash>

        </div>
    </nav>
    <!-- Modal -->
   <!--<app-modal-navbar></app-modal-navbar>-->
   <app-modalnavbardash></app-modalnavbardash>

  </header>
