<!-- Modal -->
<!--<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true" *ngIf="bann">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel1">Cambia tu imagen del banner</h1>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()">X</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form"  (ngSubmit)="onUpdate()" novalidate >-->
          <!--#f="ngForm"-->
         <!-- <div class="form-group">
            <input type="file" id="carouselimag" class="form-control border" placeholder="Carouselimag" formControlName="carouselimag" [(ngModel)]="bann.carouselimag" [ngClass]="{'is-invalid': Carouselimag.errors && Carouselimag.touched, 'is-valid': !Carouselimag.errors && Carouselimag.touched}" >-->
            <!--[(ngModel)]="carousel.carouselimag"-->
            <!--<label for="carouselimag" class="form-label"></label>
            <p class="help-block py-3">Elegi la imágen de fondo.</p>
          </div>
          <div class="form-group">
            <input type="file" id="carouselimage" class="form-control border" placeholder="Carouselimage" formControlName="carouselimage" [(ngModel)]="bann.carouselimage" [ngClass]="{'is-invalid': Carouselimage.errors && Carouselimage.touched, 'is-valid': !Carouselimage.errors && Carouselimage.touched}" >-->
            <!--[(ngModel)]="carousel.carouselimage"-->
            <!--<label for="carouselimage" class="form-label"></label>
            <p class="help-block py-3">Elegi la imágen de fondo 2.</p>
          </div>
          <div class="form-group">
            <input type="file" id="carouselimagen" class="form-control border" placeholder="Carouselimagen" formControlName="carouselimagen" [(ngModel)]="bann.carouselimagen" [ngClass]="{'is-invalid': Carouselimagen.errors && Carouselimagen.touched, 'is-valid': !Carouselimagen.errors && Carouselimagen.touched}"  >-->
            <!--[(ngModel)]="carousel.carouselimagen"-->
            <!--<label for="carouselimagen" class="form-label"></label>
            <p class="help-block py-3">Elegi la imágen de fondo 3.</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiar()">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>-->

<div class="modal fade" id="staticBackdrop1" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true" ><!--*ngIf="bann"-->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-dark fs-5" id="staticBackdropLabel1">Cambia tu foto</h1>
        <button type="button" id="modalEdicionBanner1" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body letra">
        <form [formGroup]="form" (ngSubmit)="onUpdate()" novalidate>
          <div class="form-group">
            <input type="text" class="form-control border" id="carouselimag" placeholder="Carouselimag" formControlName="carouselimag"  [ngClass]="{'is-invalid': Carouselimag.errors && Carouselimag.touched, 'is-valid': !Carouselimag.errors && Carouselimag.touched}"><!--[(ngModel)]="bann.carouselimag"-->
            <label for="carouselimag" class="form-label"></label>
            <p class="help-block py-3"></p>
            <!--<p *ngIf="Logo.hasError('required')" class="text-danger">
              El logo es requerido.
            </p>
            <p *ngIf="Logo.errors" class="text-danger">
              El logo debe ser valido.
            </p>-->
          </div>
          <div class="form-group">
            <input type="text" class="form-control border" id="carouselimage" placeholder="Carouselimage" formControlName="carouselimage"  [ngClass]="{'is-invalid': Carouselimage.errors && Carouselimage.touched, 'is-valid': !Carouselimage.errors && Carouselimage.touched}"><!--[(ngModel)]="bann.carouselimage"-->
            <label for="carouselimage" class="form-label"></label>
            <p class="help-block py-3"></p>
            <!--<p *ngIf="Logo.hasError('required')" class="text-danger">
              El logo es requerido.
            </p>
            <p *ngIf="Logo.errors" class="text-danger">
              El logo debe ser valido.
            </p>-->
          </div>
          <div class="form-group">
            <input type="text" class="form-control border" id="carouselimagen" placeholder="Carouselimagen" formControlName="carouselimagen" [ngClass]="{'is-invalid': Carouselimagen.errors && Carouselimagen.touched, 'is-valid': !Carouselimagen.errors && Carouselimagen.touched}"><!--[(ngModel)]="bann.carouselimagen"-->
            <label for="carouselimagen" class="form-label"></label>
            <p class="help-block py-3"></p>
            <!--<p *ngIf="Logo.hasError('required')" class="text-danger">
              El logo es requerido.
            </p>
            <p *ngIf="Logo.errors" class="text-danger">
              El logo debe ser valido.
            </p>-->
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        </form>
    </div>
  </div>
</div>
