<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><!--Login--></h5>
                <button type="button" id="cerrarSesion1"  class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <img src="assets/image/gracias.jpg" class="d-block banner banner2 w-100" alt="...">
                <div class="card-img-overlay">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="posimaglogout fst-italic">Por Visitarme</h3>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <!--<button type="button" onclick="location.href='http://localhost:4200/index'" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="limpiar()">Cerrar sesion</button>-->
                <button type="button" id="cerrarSesion" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="close()" *ngIf="isLogged">Cerrar sesion</button>
            </div>
        </div>
    </div>
  </div>



